<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Login</title>
  </head>
  <body>
    <h1>Please Log In</h1>
    <form method="post" action="/{{username}}">
      <input type="text" value="" placeholder="Username" />
      <input type="password" value="" placeholder="Password" />
      <button type="submit">Login</button>
    </form>

    <script src="data.js"></script>
    <script src="main.js"></script>
  </body>
</html>
